# Byte-compiled / optimized / DLL files
__pycache__/
*$py.class


dist/
eggs/
parts/
sdist/
wheels/
share/python-wheels/
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

.env

