{% extends "base.html" %}
{% load static %}
{% block title %}Bem-vindo à Plataforma Aluguel PRO{% endblock title %}
{% block content %}
<div class="container text-center vh-100 d-flex flex-column justify-content-center align-items-center">
    <img src="{% static 'images/logo_placeholder.png' %}" alt="Logo da Empresa" class="img-fluid mb-4" style="max-width: 300px;">
    <h1 class="display-4">A sua casa longe de casa.</h1>
    <p class="lead">Encontre os melhores apartamentos para alugar com conforto e segurança.</p>
    <div class="mt-4">
        <a href="{% url 'apartamentos:lista_apartamentos' %}" class="btn btn-primary btn-lg">Ver Apartamentos</a>
    </div>
</div>
{% endblock content %}